:2025
root * /srv

root * /srv

# Protection par mot de passe sauf pour index.html
#basic_auth /server/* {
	# Username "Fenitra", password "9876"
#	Fenitra $2a$14$qpNyp9iqUEIbd6iZYZ5hKuwRlflLL1Cj9uN2aPat2Ub1IMJ.L3CdC
#}

php_fastcgi php:9000
file_server browse
header {
    Set-Cookie ""
    Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
}
